
  <div class="container">
    <div class="card">
      <ngz-dropdown  [items]="items"  (onItemSelected)="selectionChanged($event)">
        <i class="material-icons">arrow_drop_down</i>
      </ngz-dropdown>
       {{dropdownValue}}
    </div>
    <div class="tag">
    </div>
  </div>