.container{
    width: 700px;
    display: flex;
    justify-content: center;
}
.card{
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 1px 1px 1px #3c3b3b74;
}